:root {
    --main-color: #ffffff;
    --text-color: #000000;
    --second-color: #BB86FC;
    --highlight-color: #7F39FB;
}

body, main {
    font-family: 'Roboto Mono', monospace, 'Roboto', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
  
header-title {
    color: var(--second-color);
}

.highlight-button {
    background-color: var(--highlight-color);
}